@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Grafilogika Játék</h1>
            </hgroup>
        </div>
    </section>
}
<ol class="round">
</ol>
