@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Grafilogika Játék</h1>
            </hgroup>
        </div>
    </section>
}
<ol class="round">
    <h1 style="display:flex;justify-content:center;align-items:center;">A grafilogika szabályai:</h1>
    A számok darabszáma a sorok elején és az oszlopok tetején azt jelenti, hogy a sötét négyzetek hány csoportban helyezkednek el. (Például ha az egyik oszlop tetején a 2,3,1,5 számok vannak, ez azt jelzi, hogy abban az oszlopban a sötét négyzetek négy csoportban helyezkednek el.) Maguk a számok azt jelzik, hogy az egyes csoportok hány sötét négyzetet tartalmaznak. (Például az első oszlop tetején levő 2,3,1,5 számok azt jelentik, hogy az első csoportban 2, a következőben 3, majd 1 és végül 5 sötét négyzet van.) Ha helyesen fejted meg a rejtvényt, egy kép rajzolódik ki a rejvényből. Mit ábrázol ez a kép?
</ol>
