@{
    ViewBag.Title = "Új jelszó igénylése";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#userName').keypress(function (e) {
            var regex = new RegExp("^[a-zA-Z0-9]+$");
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (regex.test(str)) {
                return true;
            }

            e.preventDefault();
            return false;
        });
    });
    </script>
</head>
<body>
    <div style="display:flex;justify-content:center;align-items:center;">
        @using (Html.BeginForm("ResetPassword", "Home"))
        {
            <label>Felhasználónév: </label>
            <input id="userName" type="text" name="userName" maxlength="100" />
            <input type="submit" value="Új jelszó kérése"/>
        }
    </div>
    <div style="display:flex;justify-content:center;align-items:center;">
        <p>@Html.ActionLink("Vissza a login oldalra", "Login") <br /></p>
        <p>@ViewBag.Message</p>
    </div>
</body>
</html>