<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript">
        $(document).ready(function () {
            // Create jqxRating
            $("#jqxRating").jqxRating({ width: 350, height: 35, theme: 'classic'});
            $("#jqxRating").on('change', function (event) {
                $("#rate").find('span').remove();
                $("#rate").append('<span>' + event.value + '</span');
            });
        });

        function RateGame()
        {
            var gname = $("#gamename").text();
            var rating = $("#rate").children("span").text();
            if (rating == null)
            {
                rating = 1;
            }
            $.ajax({
                url: '/Game/PostGameRating',
                data: { 'gameName': gname, 'rating': rating },
                type: 'POST',
                success: function (result) {
                    $("#sendbtn").prop('disabled', true);
                    parent.$.fancybox.close();                    
                }
            });
            return;
        }
    </script>
</head>
<body class='default'>
    <div id='jqxWidget' style="font-size: 13px; font-family: Verdana;">
        <div style='float:left;'>Jó megoldás!</div><br />
        <div id='jqxRating'></div>
        <div style='margin-top:10px;'>
            <div style='float: left;'>Adott értékelés: </div> <div style='float: left;' id='rate'></div><br />
            <div style='float: left;'>Rejtvény eddigi átlagos értékelése: </div> <div style='float: left;' id='standard'>@Session["Rating"]</div><br />
            <div style='float: left;'>Rejtvényen eddig elért összes győzelem száma: </div> <div style='float: left;' id='nrWins'>@Session["Wins"]</div><br />
            <div style='float: left;'>Rejtvényre beküldött eddigi összes rossz megoldás száma: </div> <div style='float: left;' id='nrMistakes'>@Session["Mistakes"]</div><br />
            <div style='float: left;'><input type="submit" onclick="RateGame()" value="Értékelés küldése" /></div>
        </div>
    </div>
</body>
</html>